body {
    overflow-x: hidden;
}
.grid-container {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.grid-row {
   display: flex;
   flex-direction: row; 
   justify-content: space-between; 
   flex-wrap: wrap; 
} 
